<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Supermarket App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ms-auto">
            <% if (user && user.role === "admin") { %>
            <li class="nav-item">
                <a class="nav-link" href="/inventory">Inventory</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="/addProduct">Add new product</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="/manageusers">Manage Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manageorders">Manage Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/managerefunds">Manage Refunds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adminVouchers">Vouchers</a>
            </li>
            <% } %>

            <% if (user && user.role === "user") { %>
                <li class="nav-item">
                    <a class="nav-link" href="/shopping">Shopping</a>
                </li> 
                 <li class="nav-item">
                    <a class="nav-link" href="/purchases">Purchase History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/refundhistory">Refund Requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vouchers">Vouchers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ewallet">💰 E-Wallet</a>
                </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link" href="/profile">
                <img src="/images/profile.png" alt="Profile" width="24" class="rounded-circle"> Profile
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li> 
        </ul>
        </div>
    </div>
</nav>
